<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="latitude_column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="latitude_column" type="xstring" value="Latitude"/>
        <config key="longitude_column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="longitude_column" type="xstring" value="Longitude"/>
        <config key="hover_info_columns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="hover_info_columns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="50"/>
                <entry key="0" type="xstring" value="Type"/>
                <entry key="1" type="xstring" value="Provider"/>
                <entry key="2" type="xstring" value="Location_T"/>
                <entry key="3" type="xstring" value="City"/>
                <entry key="4" type="xstring" value="nta_code"/>
                <entry key="5" type="xstring" value="New York"/>
                <entry key="6" type="xstring" value="Brooklyn"/>
                <entry key="7" type="xstring" value="Bronx"/>
                <entry key="8" type="xstring" value="Queens"/>
                <entry key="9" type="xstring" value="Staten Island"/>
                <entry key="10" type="xstring" value="Glen Oaks"/>
                <entry key="11" type="xstring" value="Arverne"/>
                <entry key="12" type="xstring" value="South Hollis"/>
                <entry key="13" type="xstring" value="Woodhaven"/>
                <entry key="14" type="xstring" value="Long Island City"/>
                <entry key="15" type="xstring" value="Queens Village"/>
                <entry key="16" type="xstring" value="Flushing"/>
                <entry key="17" type="xstring" value="Little Neck"/>
                <entry key="18" type="xstring" value="College Point"/>
                <entry key="19" type="xstring" value="Forest Hills"/>
                <entry key="20" type="xstring" value="Rosedale"/>
                <entry key="21" type="xstring" value="Corona"/>
                <entry key="22" type="xstring" value="Jackson Heights"/>
                <entry key="23" type="xstring" value="Rego Park"/>
                <entry key="24" type="xstring" value="Whitestone"/>
                <entry key="25" type="xstring" value="Briarwood"/>
                <entry key="26" type="xstring" value="Cambria Heights"/>
                <entry key="27" type="xstring" value="Bayside"/>
                <entry key="28" type="xstring" value="Laurelton"/>
                <entry key="29" type="xstring" value="Fresh Meadows"/>
                <entry key="30" type="xstring" value="Maspeth"/>
                <entry key="31" type="xstring" value="East Elmhurst"/>
                <entry key="32" type="xstring" value="Bellerose"/>
                <entry key="33" type="xstring" value="Rockaway Beach"/>
                <entry key="34" type="xstring" value="Hollis"/>
                <entry key="35" type="xstring" value="Jamaica"/>
                <entry key="36" type="xstring" value="Glendale"/>
                <entry key="37" type="xstring" value="Richmond Hill"/>
                <entry key="38" type="xstring" value="Woodside"/>
                <entry key="39" type="xstring" value="Howard Beach"/>
                <entry key="40" type="xstring" value="Ridgewood"/>
                <entry key="41" type="xstring" value="Far Rockaway"/>
                <entry key="42" type="xstring" value="Broad Channel"/>
                <entry key="43" type="xstring" value="South Ozone Park"/>
                <entry key="44" type="xstring" value="Ozone Park"/>
                <entry key="45" type="xstring" value="Rockaway Park"/>
                <entry key="46" type="xstring" value="Middle Village"/>
                <entry key="47" type="xstring" value="Saint Albans"/>
                <entry key="48" type="xstring" value="Elmhurst"/>
                <entry key="49" type="xstring" value="Cluster"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="32"/>
                <entry key="0" type="xstring" value="Latitude"/>
                <entry key="1" type="xstring" value="Longitude"/>
                <entry key="2" type="xstring" value="BoroCode"/>
                <entry key="3" type="xstring" value="Free"/>
                <entry key="4" type="xstring" value="Limited Free"/>
                <entry key="5" type="xstring" value="Partner Site"/>
                <entry key="6" type="xstring" value="LinkNYC - Citybridge"/>
                <entry key="7" type="xstring" value="ALTICEUSA"/>
                <entry key="8" type="xstring" value="SPECTRUM"/>
                <entry key="9" type="xstring" value="NYCHA"/>
                <entry key="10" type="xstring" value="AT&amp;T"/>
                <entry key="11" type="xstring" value="Downtown Brooklyn"/>
                <entry key="12" type="xstring" value="Harlem"/>
                <entry key="13" type="xstring" value="NYPL"/>
                <entry key="14" type="xstring" value="BPL"/>
                <entry key="15" type="xstring" value="QPL"/>
                <entry key="16" type="xstring" value="Manhattan Down Alliance"/>
                <entry key="17" type="xstring" value="Transit Wireless"/>
                <entry key="18" type="xstring" value="City Tech"/>
                <entry key="19" type="xstring" value="Chelsea"/>
                <entry key="20" type="xstring" value="Partner"/>
                <entry key="21" type="xstring" value="Outdoor Kiosk"/>
                <entry key="22" type="xstring" value="Outdoor"/>
                <entry key="23" type="xstring" value="Indoor"/>
                <entry key="24" type="xstring" value="Outdoor TWC Aerial"/>
                <entry key="25" type="xstring" value="Library"/>
                <entry key="26" type="xstring" value="Subway Station"/>
                <entry key="27" type="xstring" value="MN"/>
                <entry key="28" type="xstring" value="BK"/>
                <entry key="29" type="xstring" value="BX"/>
                <entry key="30" type="xstring" value="QU"/>
                <entry key="31" type="xstring" value="SI"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="polygons_column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="polygons_column" type="xstring" isnull="true" value=""/>
        <config key="fill_polygon_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="fill_polygon" type="xboolean" value="false"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.ext.osm.node.mapview.OsmMapViewNodeFactory"/>
    <entry key="node-name" type="xstring" value="OSM Map View"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Open Street Map Views Integration"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.osm"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.6.0.v202202280901"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Open Street Map Integration"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.osm.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.6.0.v202202280901"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="OSM Map View"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="554a656e-dbad-4177-8b55-3ac2987ab4f6"/>
    </config>
</config>
